[project]
name = "rllib"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.13"
dependencies = [
    "gymnasium>=1.2.2",
    "numpy>=2.3.5",
]

[dependency-groups]
dev = [
    "ruff>=0.14.5",
]
